body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}
ul li a:hover{
    color: white;
}
.primero{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;

}
.ultimos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(70, 139, 139);
}
.titulo{
    display: flex;
    flex-direction:row ;
}
div.a{
    background-color:green ;
    
    margin-right: 10px;
    width: 20%;
    height: 100px;
    

}
.b{
    background-color: black;
    color: aliceblue;

    width: 80%
}
.c{
    background-color:beige ;

    height: 50px;
}
.d{
    background-color:purple ;
    height: 600px;
    width: 30%;
    margin-right: 10px;
}
.cuerpo{
    display: flex;
    flex-direction: row;
}
.columna{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.fila{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.e{
    background-color: blue;
    width: 900px;
    height: 300px;
    margin-right: 10px;
}
.f{
    background-color: pink;
    width: 80%;
    height: 300px;
    margin-left: 10px;
}
.g{
    background-color: orange;
    height: 300px;
    margin-top: 10px;
}
.h{
    background-color: skyblue;
    margin-top: 10px;
    height:100px ;
}
