<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diseños</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <div class="titulo">
        <div class="a">informacion aleatoria</div>
        <div class="b">
            <p class="primero">pagina dedicada a la compra venta de autos for, porfavor precionar el siguien link para mas informacion</p>
            <ul>
                <li><a href="https://es.ford.com/">autos</a></li>
            </ul>
        </div>
    </div>
    <p class="c">ejemplo de cascada y herencia a apartir de ciertos contenedores</p>
    <div class="cuerpo">
        <div class="d">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio rerum totam neque autem minima et itaque blanditiis quasi, eum harum reiciendis odit provident distinctio ab veritatis, laudantium aperiam nisi quas?</div>
        <div class="columna">
            <div class="fila">
                <div class="e">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam harum voluptatem consequuntur similique sunt adipisci quidem veniam deserunt blanditiis, illo tenetur praesentium inventore magni at voluptatibus incidunt eveniet ab impedit.</div>
                <div class="f">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus possimus itaque, ducimus veritatis cum ratione mollitia hic corporis magni quas iure perspiciatis. Ea, optio molestias? Accusamus dolorem quos optio odit.</div>
            </div>
            <div class="g"><p class="ultimos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut eveniet, accusamus laboriosam, consequuntur officia voluptatem iure qui odit dicta ipsa. Vel, ab? Consequatur architecto officia ea aperiam, dolore nobis.</p></div>
        </div>
    </div>
    <div class="final">
        <div class="h"><p class="ultimos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quos harum libero in cum porro voluptate iste corrupti odio labore, culpa ab rerum fugit doloribus, quibusdam necessitatibus mollitia facere. Quam!</p></div>
    </div>

    
</body>
</html>